*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';

}
body{
    height: 83vh;
    background-image: linear-gradient(-120deg,aqua,blue);
}
.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px 0 20px;
}

.box{
    position: relative;
    background-color: rgb(17, 0, 255);
    width: 600px;
    height: 480px;
    margin: 0 auto;
    margin-top: 200px;
    overflow: hidden;
    border-radius: 5px;
}
.box::before{
    content: '';
    position: absolute;
    width: 500px;
    height: 480px;
    top: -50%;
    left: -50%;
    background: linear-gradient(0deg,transparent,aqua,aqua);
    transform-origin:bottom right ;
    animation: animate  6s linear infinite;
}
.box::after{
    content: '';
    position: absolute;
    width: 500px;
    height: 480px;
    top: -50%;
    left: -50%;
    background: linear-gradient(0deg,transparent,aqua,aqua);
    transform-origin:bottom right ;
    animation: animate  6s linear infinite;
    animation-delay: -3s;
}
.form_box{
    width: fit-content;
    margin: 0 auto;
    position: absolute;
    z-index: 10;
    inset: 2px;
    width: 99%;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);

}

.form{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 0 20px 0 20px;
}
.inputbox > input{
    width: 100%;
    height: 35px;
    font-size: 15px;
    margin-top: 23px;
    border: 1px solid grey ;
    outline: none;
    border: none;
    border-bottom: 1px solid grey;
    background: transparent;
    transition: all 0.5s ease;
}

.inputbox > span{
    position: absolute;
    left: 0;
    padding: 28px 25px 10px;
    font-size: 1em;
    pointer-events: none;
    letter-spacing: 0.05em;
    transition: 0.5s;
    color: grey;
}
.inputbox > input:focus{
    border-bottom:1px solid aqua ;
}
.inputbox input:focus ~ span{
    color: aqua;
    transform:translateX(-6px) translateY(-28px);
    font-size: 1em;
}

.inputbox input:valid ~ span{
    color: aqua;
    transform:translateX(-6px) translateY(-28px);
    font-size: 1em;
}

.agree_check{
    display: flex;
    padding-top: 20px;
}
.agree_check > p{
    padding-left: 10px;
    font-weight: 600;
    font-size: 18px;
}
.agree_check > p > a{
    color: black;
}

.submit_btn > input{
    width: 100%;
    height: 40px;
    margin-top: 20px;
    font-size: 20px;
    color: white;
    border: none;
    background-image: linear-gradient(120deg,aqua,blue);
}
.submit_btn > p{
    margin-top: 160px;
    font-weight: 500;
    font-size: 18px;
    color: rgb(73, 73, 73);
}
.sign_up{
    color: black;
}
.forgot_link{
    color: grey;
    text-decoration: none;
}
.forgot_link:hover{
    text-decoration: underline;
}

@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@media(max-width:660px){
    .box{
        max-width: 400px;
        margin-top: 120px;
    }
    .agree_check > input{
        width: 20px;
    }
}
@media(max-width:444px){
    .box{
        max-width: 280px;
    }
    .form_box{
        inset: 3px;
    }
    .submit_btn > p{
        margin-top: 50px;
        font-weight: 500;
        font-size: 18px;
        color: rgb(73, 73, 73);
    }
}
